<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335302947950-18upd06tegkavuip62tca9q9v8faqp95.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335302947950-18upd06tegkavuip62tca9q9v8faqp95</string>
	<key>API_KEY</key>
	<string>AIzaSyCNYMcfrNuSrRdLN7xaxNHBLd2GkWvMw6w</string>
	<key>GCM_SENDER_ID</key>
	<string>335302947950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nyu.APT-Saver</string>
	<key>PROJECT_ID</key>
	<string>aptsaver-1556917470785</string>
	<key>STORAGE_BUCKET</key>
	<string>aptsaver-1556917470785.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335302947950:ios:7bc6467f2c25bf95</string>
	<key>DATABASE_URL</key>
	<string>https://aptsaver-1556917470785.firebaseio.com</string>
</dict>
</plist>