<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>APT Saver.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>196E5CA52277BB4400F43DB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>196E5CB92277BB4600F43DB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>196E5CC42277BB4600F43DB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
